.button {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-border-radius: 1;
    -fx-font-size: 16;
}

.button:hover {
    -fx-text-fill: #e8813c;
}

.buttonSmall {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-border-radius: 1;
    -fx-font-size: 14;
}
.buttonSmall:hover {
    -fx-text-fill: rgba(17, 16, 16, 0.69);
}
.pane {
    -fx-background-color: #4c5d63;
    -fx-background-radius: 0;
    -fx-border-width: 6;
    -fx-border-color: #4c5d63;
    -fx-border-padding: 6;
    -fx-faint-focus-color: #039ed322;
    -fx-focused-mark-color : -fx-focused-text-base-color ;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #787263;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: derive(#787263, 20%);
}
